[tool.poetry]
name = "arkitekt"
version = "0.1.111"
description = "rpc and node backbone"
authors = ["jhnnsrs <jhnnsrs@gmail.com>"]
license = "CC BY-NC 3.0"
packages = [{include = "arkitekt"}]

[tool.poetry.dependencies]
python = "^3.8"
docstring-parser = "^0.10"
inflection = "^0.5.1"
websockets = "^10.0"
janus = "^0.6.1"
watchdog = "^2.1.6"
herre = "^0.1.58"

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
pytest-aiohttp = "^0.3.0"
tox = "^3.24.3"

[tool.poetry.scripts]
arkitekt = "arkitekt.cli.main:entrypoint"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[[tool.pydoc-markdown.loaders]]
type = "python"
search_path = [ "arkitekt" ]

[tool.pydoc-markdown.renderer]
type = "docusaurus"
